<div class="container-show">
<%= @training.created_at.hour %>
<h2><%=@training.date.day%>/<%= @training.date.month %></h2>
  <div class= "exercice">

  <% @exercices.each do |exercice| %>
    <div class="exercice-name">
      <%= exercice.name %>
      <%= exercice.description %>
      <%= exercice.image %>
    </div>
  <% end %>

  </div>
</div>
